# Force language override
*.yml linguist-language=YAML
*.yaml linguist-language=YAML
*.ipynb linguist-language=Jupyter Notebook
*.ps1 linguist-language=PowerShell

# Exclude non-code assets from stats
Screenshots/* linguist-documentation
*.png linguist-documentation
README.md linguist-documentation

# Ignore generated Python files
__pycache__/* linguist-generated
vectorstore/db_faiss/* linguist-generated
